/* BODY */

body /* Orange frame & common font */
{
   border-style: solid;
   border-width: thick;
   border-color: #FD8429; /* orange */
   padding: 0px;
   margin: 0px;
   min-height:700px;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: #000000;
}

h2
{
   font-size: 14px;
   font-weight: bold;
   color: #FD8429;
}

strong
{
   font-weight: bold;
   color: #FD8429;
}


/* HEADER */

.header /* Header position */
{
   position: absolute;
   height: 110px;
   left: 5px;
   right: 500px;
}

.header h1 /* Title 'banner' */
{
   position: absolute;
   top: 10px;
   left: 120px; 
   text-shadow: 1px 1px 2px #999999;	/* grey */
   color: #048C38;			/* green */
   font-family: UnDotum,"EF Diamanti Condensed Regular", inherit;
}


/* LOGIN */

.login /* login box position and font */
{
   float: right;
   top: 0px;
   left: 500px;
   margin-right: 10px;
   margin-left:50px;
   margin-top:0px;
}

.login p
{
   font-weight: bold;
   color: #FD8429;
}


/* MENU */

.menu /* Menu position */
{
   position: absolute;
   top: 120px;
}

ul.menu_list /* Disable bullets for menu list items */
{
   list-style-type: none;
   padding-left: 15px;
   padding-bottom: 5px;
}

li.menu_item /* Main menu bullet */
{
   background-repeat: no-repeat;
   background-position: -3px 0px;
   padding-left: 15px;
   padding-bottom: 0px;
}

a.menu_link /* Main link font */
{
   text-decoration: none;
   font-size: 16px;
   color: #048C38;
}

ul.submenu_list /* Embedded list (sublist item) position */
{
   list-style-type: none;
   padding-left: 0px;
}

li.submenu_item /* Embedded list bullet */
{
   background-image: url('images/nav/sub_link.gif');
   background-repeat: no-repeat;
   background-position: 0px 0px;
   text-indent:15px;
}

a.submenu_link /* Embedded list link fonts */
{
   font-size: 10px;
   font-weight: normal;
   color: #FD8429;
   text-decoration: none;
}

a.submenu_link:visited		{ color: #048C38; }
a.submenu_link:hover		{ color: #000000; }
a.submenu_link:visited:hover	{ color: #000000; }


/* MAIN */

.main
{
   margin-top: 155px;
   margin-left: 250px;
   margin-right: 50px;
}

.main h1
{
   font-size: 16px;
   font-weight: bold;
   color: #FD8429;
}

.main iframe
{
   height: 600px;
   width: 100%;
   border: none;
   margin: none;
   overflow: hidden;
}

/* Link colors */

.main a 		{ color: #FD8429; }
.main a:visited 	{ color: #048C38; }
.main a:hover		{ color: #FD8429; }
.main a:visited:hover	{ color: #FD8404; }

.main a.mail		{ color: #000000; }
.main a.mail:hover	{ color: #FD8429; }


/* SPECIAL FORMATS */

/* Center alignment */

.center { text-align: center; }

/* Inline (experimental)

h2.inline, p.inline { display: "inline"; } */

/* Column */

.columns {
   margin-bottom: 150px
}

.col1 {
   float: left;
   margin-top: 5px;
}

.col2 {
   float: left;
   margin-top: 5px;
   margin-left: 20px;
}

.footnote, sup.footer
{
   font-size: 10px;
   color: #048C38;
}


/* FOOT */

.footer
{
   font-size: 10px;
   color: #048C38;
   text-align: center;
   margin-top: 100px;
   margin-bottom: 50px;
}

.footer a		{ color: #FD8429; }
.footer a:visited	{ color: #048C38; }
.footer a:hover		{ color: #FD8429; }
.footer a:visited:hover	{ color: #FD8429; }

#headerClients{color:#048C38;font-size: 14px;font-weight: bold;position:relative;top:-30px;left:-40px;}
#client{ text-align: center; color: black;font-size: 12px; position:relative;top:160px;left:30px;}
#title{text-align: center;font-size: 19px;font-weight: bold;text-decoration: underline;font-family: Times;position:relative;top:140px;color: #048C38;left:20px;}

.tablescroll
{ font: 12px;font-family: Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif; background-color:#fff; }

.tablescroll td, 
.tablescroll_wrapper,
.tablescroll_head,
.tablescroll_foot
{ border:1px solid #ccc; }

.tablescroll td
{ padding:3px 5px; }

.tablescroll_wrapper
{ border-left:0; }

.tablescroll_head
{  font-weight:bold; background-color:#eee; border-left:0; border-top:0; margin-bottom:3px;font-size:12px; }

.tablescroll thead td
{ border-right:0; border-bottom:0;font-size:12px; }

.tablescroll tbody td
{ border-right:0; border-bottom:0;font-size:12px; }

.tablescroll tbody tr.first td
{ border-top:0; font-size:12px;}

.tablescroll_foot
{ font-weight:bold; background-color:#eee; border-left:0; border-top:0; margin-top:3px;font-size:12px; }

.tablescroll tfoot td
{ border-right:0; border-bottom:0;font-size:12px;}

#tableDates
{

width: 417px;
background-color: #048C38;
position: relative;
left: -221px;
top: -621px;
z-index:100;
}
#container
{
width: 900px; height: 400px; 
padding-top: 50px;
}
#startDropBox
{
/*position:relative;
top:60px;
left:50px;*/
float: left;
}
#endDropBox
{
/*position:relative;
top:60px;
left:250px;*/
float: right;
}
#rangeInformation
{
padding-left:240px;
padding-top:45px;
}
#upload
{
position:relative;
left:215px;

}

#upload form
{
padding-top: 20px;

}
#invoice
{
position:relative;
left:360px;
top:30px;
padding-bottom:200px;
}
#list
{
position:relative;
right:290px;
top:5px;
font-size:12px;
}
#message
{
position:relative;
top:200px;
left:300px;
padding-bottom:200px;
color:#048C38;
}
#page
{
padding-bottom:200px;
}
#datebox
{

border-style:solid;
border-color: black;
border-width: 1px;
height: 40px;
width: 310px;
margin-top: 10px;


}
#alldata
{
height:600px;
width: 900px;
padding-bottom:200px;
padding-left:45px;

}
#label
{
  color: #FD8429; 
font-weight: bold;
padding-left:65px;
}
#text
{
padding-left: 240px;
padding-top:20px;
width: 310px;
}
#welcome
{
    padding-left:205px;
    padding-top:30px;
}
#mess
{
    padding-left:490px;
    padding-top:145px;
}