/* DEFAULTS */

body {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000000;
}

h1 {
        font-size: 18px;
        font-weight: bold;
        color: #2E3192;
        text-align: center;
}

h2 {
        font-size: 2em;
        color: #2E3192;
}

strong {
        font-weight: bold;
}

a               { color: #2E3192; text-decoration: none; }
a:visited       { color: #252763; }
a:hover         { color: #000000; }
a:visited:hover { color: #000000; }


/* HEADER */

.header { /* Title position */
        position: absolute;
        height: 110px;
        left: 5px;
        right: 200px;
        z-index:-1
}

.header h1 { /* Title banner */
        position: absolute;
        top: 0px;
        left: 200px; 
        text-shadow: 1px 1px 2px #999999;
        font-size: 32px;
        font-weight: bold;
        color: #2E3192;
        font-family: inherit;
}

.header a:visited       { color: #2E3192; }
.header a:hover         { color: #2E3192; }
.header a:visited:hover { color: #2E3192; }


/* LOGIN */

.login { /* login box position and font */
        float: right;
        top: 0px;
        left: 500px;
        margin-right: 10px;
        margin-top:0px;
        z-index:5;
}

.login p {
        font-size: 13px;
        font-weight: bold;
        color: #2E3192;
}
/* ORGANIZATION PAGE */

/* SEARCHBOX */

.search { /* search box position */
        position: relative;
        top: 70px;
        left: 197px;
        z-index:2;
        overflow-x:hidden; /* Disables horizontal scrollbar */
}

/* MENU */

.menu { /* Menu position */
        position: absolute;
        top: 220px;
        left: 0px;
        line-height: 200%;
        font-size: 14px;
        color: #2E3192;
}


/* MAIN */

.main {
        margin-top: 168px;
        margin-left: 280px;
        margin-right: 50px;
}

/* LIST FROM MYSQL */

.listing{
	font-size: 120%;
}

ul {
	list-style: none;
}

li {
	padding-left: 20px;
	padding-bottom: 5px;
}

/* SPECIAL FORMATS */

/* Center alignment */

.center { text-align: center; }


/* Columns */

.columns {
        margin-bottom: 150px
}

.col1 {
        float: left;
        margin-top: 5px;
}

.col2 {
        float: left;
        margin-top: 5px;
        margin-left: 20px;
}


/* FOOTER */

.footer {
        font-size: 10px;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 50px;
        color: #2E3192;
}
